.cadastroform {
    min-width: 40vw;
    height: 100vh;
    float: right;
    border-left: solid 3px #D6AE3C;
}

.containerleftpadding {
    padding-left: 2vw;
}

.containercentermargin {
    margin: auto;
}

.textinput {
    border: solid 3.4px rgba(37, 37, 37, 0.801);
    border-radius: 3px;
    padding: 2px;
}

.nameinput {
    width: 45%; 
    margin-left: 2px;
    margin-right: 2px;
}

.otherinputs {
    width: 90%;
}

.imgcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 100%;
}

.confirmbtn {
    background-color: #D6AE3C;
    /* A cor do fundo do hover está em Tailwind CSS */
}
